html{
    background-color: white;
}

body{
    font-family: sans-serif;
    color: black;
    background-color: cyan;
    width: 100%;
}

hr{
    color: #e22242;
    border-width: 3px;
}

table{
    background-color: chocolate;
    border:10px solid black;
    width: 100%;
}

th{
    height: 70px;
}
td{
    text-align: center;
}

tr:hover {
    background-color: yellow;
}

/* 10 Spalten Grid-System*/

.col-1{width: 10.0%;}
.col-2{width: 20.0%;}
.col-3{width: 30.0%;}
.col-4{width: 40.0%;}
.col-5{width: 50.0%;}
.col-6{width: 60.0%;}
.col-7{width: 70.0%;}
.col-8{width: 80.0%;}
.col-9{width: 90.0%;}
.col-10{width: 100.0%;}

@media only screen and (max-width: 768px) {
    [class*="col-"]{
        width: 100%;
    }
    body{
        width: 100%;
        margin-left: 0;
    }
}
